config HTC_GARBAGE_FILTER
	tristate "HTC_GARBAGE_FILTER"
	default n
	depends on MSM_SMD
	---help---
	  HTC Garbage Filter of TCP

config HTC_DEBUG_RIL_PCN0010_HTC_DUMP_IPCROUTER_LOG
    tristate "HTC_DEBUG_RIL_PCN0010_HTC_DUMP_IPCROUTER_LOG"
    default y
    depends on IPC_ROUTER
    ---help---
      Dump IPC router modem log message

config HTC_DEBUG_RIL_PCN0011_HTC_DUMP_IPC_UNREAD_PACKAGE
    tristate "HTC_DEBUG_RIL_PCN0011_HTC_DUMP_IPC_UNREAD_PACKAGE"
    default y
    depends on IPC_ROUTER
    ---help---
      Dump IPC router unread package

